<!DOCTYPE html>
<html lang="en">
<head th:replace="~{partials/fragment :: head}">
</head>
<body>
<header th:replace="~{partials/fragment :: header2}"></header>

<main>
    <div class="main-group">
        <aside th:replace="partials/template_fragment :: livesearch-menu"></aside>
        <article>
            <div th:replace="~{partials/template_fragment :: livesearch-title('ACTG (Amino aCids To Genome)', 'peptide mapping', 'version 1.10')}"></div>
            <div class="main-contents">
                <table id="gray" >
                    <tbody id="ac"><tr>
                        <th><a href="help.jsp#NAME" class="thmenu align-right">User Name</a></th>
                        <td><input name="user" type="text" size="60" value="anonymous"></td>
                    </tr>
                    <tr>
                        <th><a href="help.jsp#TIT" class="thmenu align-right">Mapping Title</a></th>
                        <td colspan="3"><input name="title" type="text" size="60"></td>
                    </tr>

                    <!-- MAPPING ENVIRONMENT -->
                    <tr>
                        <th colspan="4" class="align-center"><div class="align-center" style="margin: auto; width: 400px;"><b class="thmenu" style="cursor:default">Mapping Environment</b></div></th>
                    </tr>
                    <tr>
                        <th><a href="help.jsp#PEP" class="thmenu align-right">Peptide List</a></th>
                        <td colspan="3"><input id="filePeptide" name="peptideFile" type="file" size="45"> &nbsp; File size limit : 100KB</td>
                    </tr>
                    <tr>
                        <th>
                            <a href="help.jsp#METHODS" class="thmenu align-right">Mapping Method</a> <br>
                            <span class="align-right">PV: Protein DB filtering / Variant splice graph mapping</span><br>
                            <span class="align-right">PS: Protein DB filtering / Six-frame translation mapping</span><br>
                            <span class="align-right">VO: Mapping variant splice graph only</span><br>
                            <span class="align-right">SO: Mapping six-frame translation only</span><br>
                        </th>
                        <td colspan="3"><select id="method" name="method" onchange="changeMethod()">
                            <option value="PV">PV</option>
                            <option value="PS">PS</option>
                            <option value="VO">VO</option>
                            <option value="SO">SO</option>
                        </select></td>
                    </tr>
                    <tr>
                        <th><a href="help.jsp#IL" class="thmenu align-right">Isoleucine is equivalent to leucine</a></th>
                        <td colspan="3"><input id="IL" name="IL" type="checkbox" class="CHECK" value="yes"></td>
                    </tr>
                    </tbody>

                    <!-- PROTEIN DATABASE -->
                    <tbody id="methodProteinDatabase" style="display: table-row-group;">
                    <tr>
                        <th colspan="4" class="align-center"><div class="align-center" style="margin: auto; width: 400px;"><b class="thmenu" style="cursor:default">Protein DB Filtering</b></div></th>
                    </tr>
                    <tr>
                        <th><a href="help.jsp#PROTEIN" class="thmenu align-right">Protein DB</a></th>
                        <td colspan="3"><select name="proteinDB" onchange="changeDB()">
                            <option value="swissprot_2016_07.fasta">Swissprot 2016-07</option>
                            <option value="uniprot_2016_07.fasta">Uniprot 2016-07</option>
                        </select></td>
                    </tr>
                    <tr>
                        <th><a href="help.jsp#SAV" class="thmenu align-right">Filter out single AA variations</a></th>
                        <td colspan="3"><input id="SAV" name="SAV" type="checkbox" class="CHECK" value="yes"></td>
                    </tr>
                    </tbody>

                    <!-- VARIANT SPLICE GRAPH -->
                    <tbody id="methodVariantSpliceGraph" style="display: table-row-group;">
                    <tr>
                        <th colspan="4" class="align-center"><div class="align-center" style="margin: auto; width: 400px;"><b class="thmenu" style="cursor:default">Variant Splice Graph Mapping</b></div></th>
                    </tr>
                    <tr>
                        <th><a href="help.jsp#VSG" class="thmenu align-right">Variant Splice Graph</a></th>
                        <td colspan="3"><select name="variantSpliceGraphDB">
                            <option value="GRCh38.Ensembl.83.ser">GRCh38, Ensembl Release 83</option>
                            <option value="GRCh37.Ensembl.78.ser">GRCh37, Ensembl Release 78</option>
                            <option value="GRCh37.Ensembl.75.ser">GRCh37, Ensembl Release 75</option>
                            <option value="GRCh37.Ensembl.71.ser">GRCh37, Ensembl Release 71</option>
                        </select></td>
                    </tr>
                    <tr>
                        <th><a href="help.jsp#VCF" class="thmenu align-right">Mutations (VCF) </a></th>
                        <td colspan="3">
                            <div><input name="mutation" type="checkbox" class="CHECK" value="yes" onclick="mutationCheck()"></div>
                            <div id="divMutation" style="display:none;"><input id="fileMutation" name="mutationFile" type="file" size="45"> File size limit : 20MB</div></td>
                    </tr>
                    <tr>
                        <th><a href="help.jsp#ES" class="thmenu align-right">Exon Skipping </a></th>
                        <td colspan="3"><input id="exonSkipping" name="exonSkipping" type="checkbox" class="CHECK" value="yes"></td>
                    </tr>
                    <tr>
                        <th><a href="help.jsp#AAD" class="thmenu align-right">Alternative Acceptor &amp; Donor </a></th>
                        <td colspan="3"><input id="altAD" name="altAD" type="checkbox" class="CHECK" value="yes"></td>
                    </tr>
                    <tr>
                        <th><a href="help.jsp#INTRON" class="thmenu align-right">Intron retention</a></th>
                        <td colspan="3"><input id="intron" name="intron" type="checkbox" class="CHECK" value="yes"> (it takes about 10 minutes)</td>
                    </tr>
                    </tbody>
                </table>

                <br>
                <div class="cell">
                    <span><a class="under" href="ACTG_test_data.zip"> Download sample data </a></span>
                    <div class="btn-box">
                        <input class="btn" type="reset" value="Reset" />
                        <input name="Submit" type="button" class="btn" onClick="process()" value="Submit">
                    </div>
                </div>



            </div>
        </article>
    </div>
</main>
<footer th:replace="~{partials/fragment :: footer}"></footer>



</body>
</html>
