<!DOCTYPE html>
<html lang="en">
<head th:replace="~{partials/fragment :: head}">
</head>
<body>
<header th:replace="~{partials/fragment :: header2}"></header>

<style>
  /* 테이블 스타일 */
  .config-table-hover {
    width: 100%;
    border-collapse: collapse; /* cellpadding, cellspacing 제거 */
    border-top: 2px solid #d9dddc;
    border-bottom: 1px solid #d9dddc;
    table-layout: fixed;
  }

  .config-table-hover th,
  .config-table-hover td {
    padding: 8px; /* cellpadding 대체 */
    text-align: center; /* align 대체 */
  }

  /* Hover effect for specific table */
  .config-table-hover tr:hover {
    background-color: #fafad2;
  }
</style>
<main>
  <div class="main-group">
    <aside th:replace="partials/template_fragment :: livesearch-menu"></aside>
    <article>
      <div class="main-article">
        <div th:replace="~{partials/template_fragment :: livesearch-title('History', 'ms/ms search','')}"></div>

        <div class="main-contents">
          <table class="config-table-hover">
            <tr>
              <th class="grayTH" style="width: 10%;">Index</th>
              <th class="grayTH" style="width: 15%;">User</th>
              <th class="grayTH" style="width: 15%;">Date</th>
              <th class="grayTH" style="width: 25%;">Title</th>
              <th class="grayTH" style="width: 10%;">MS/MS data</th>
              <th class="grayTH" style="width: 15%;">Database</th>
              <th class="grayTH" style="width: 10%;">Engine</th>
            </tr>
            <tr th:each="log, iterStat : ${searchLogs}">
              <td class="grayTD" style="width: 10%;">
                <a th:href="@{${log.engine == 'dbond' ? '/dbond/result?file=' + log.result : '/actg/result?file=' + log.result}}"
                   target="_blank"
                   th:text="${iterStat.index + 1}">
                </a>
              </td>
<!--              <td class="grayTD" style="width: 10%;"><a th:href="@{/dbond/result(file=${log.result})}" target="_blank" th:text="${iterStat.index + 1}"></a></td>-->
              <td class="grayTD" style="width: 15%;" th:text="${log.userName}"></td>
              <td class="grayTD" style="width: 15%;" th:text="${#dates.format(log.date, 'yyyy.MM.dd')}"></td>
              <td class="grayTD" style="width: 25%;" th:text="${log.title != null ? log.title : '&nbsp;'}"></td>
              <td class="grayTD" style="width: 10%;" th:text="${log.msFile}"></td>
              <td class="grayTD" style="width: 15%;" th:text="${log.dbFile}"></td>
              <td class="grayTD" style="width: 10%;" th:text="${log.engine}"></td>
            </tr>
          </table>

          <br>
          <br>
        </div>
      </div>
    </article>
  </div>
</main>

<footer th:replace="~{partials/fragment :: footer}"></footer>
</body>
</html>
