<!DOCTYPE html>
<html lang="en">
<head th:replace="~{partials/fragment :: head}"></head>
  <body>
  <header th:replace="~{partials/fragment :: header2}"></header>

    <main>
      <div class="main-group">
        <aside th:replace="partials/template_fragment :: livesearch-menu"></aside>
        <article>
          <div class="main-article">
            <div th:replace="~{partials/template_fragment :: main-title('MS/MS ANALYSIS', '')}"></div>

            <div class="main-contents">
              <p>
                <div class="livesearch-box">
                  <h3 class="blue-up">
                    <img src="/images/p_st1.GIF" width="5px" height="12px" />
                    <a th:href="@{/livesearch/dbond}" href="../index.html" class="blue-up" >
                      DBond
                    </a>
                  </h3>
                </div>
                <span class="indented">Identification of intact disulfide linkages</span>
              </p>
              <p>
                <div class="livesearch-box">
                  <h3 class="blue-up">
                    <img src="/images/p_st1.GIF" width="5px" height="12px" />
                    <a th:href="@{/download}" href="../index.html" class="blue-up" >
                      ACTG
                    </a>
                  </h3>
                </div>
                <span class="indented">Novel peptide mapping onto gene models</span>
              </p>
              <p>
              <div class="livesearch-box">
                <h3 class="blue-up">
                  <img src="/images/p_st1.GIF" width="5px" height="12px" />
                  <a th:href="@{/download}" href="../index.html" class="blue-up" >
                    Pattern Match
                  </a>
                </h3>
              </div>
              </p>


              <br>
              <br>
            </div>
          </div>
        </article>
      </div>
    </main>

  </body>
  <footer th:replace="~{partials/fragment :: footer}"></footer>
</html>
