<!DOCTYPE html>
<html lang="en">
<head th:replace="~{partials/fragment :: head}">
</head>
<body>
<header th:replace="~{partials/fragment :: header2}"></header>

<main>
  <div class="main-group">
    <aside th:replace="partials/template_fragment :: livesearch-menu"></aside>
    <article>
      <div th:replace="~{partials/template_fragment :: livesearch-title('Pattern Match', '','')}"></div>
      <div class="main-contents">
        <div class="separate-two">
          <div class="table-container column">
            <form action="/livesearch/PatternMatch/Result" method="get" target="_blank">
              <h5>Select DATABASE</h5>
              <label class="label-radio"><input class="input-radio" type="radio" name="db_type" value="swiss_prot" checked="on"> SWISS-PROT </label><span class="indented text-padding">Release (2015-04-29)</span> <br>
              <label class="label-radio"><input class="input-radio" type="radio" name="db_type" value="genbank"> GENBANK  </label> <span class="indented text-padding">Release (2015-04-17)</span><br>


              <h5>Pattern Syntax</h5>
              <label class="label-radio"><input class="input-radio" type="radio" name="format_type" value="1" checked="on"> PROSITE regular expression</label> <br>
              <label class="label-radio"><input class="input-radio" type="radio" name="format_type" value="0"> PYTHON regular expression</label> <br>

              <h5>Input Pattern</h5>
              <label class="label-radio"><input type="text" name="pattern1" size="20"> AND </label> <br>
              <label class="label-radio"><input type="text" name="pattern2" size="20"> AND </label> <br>
              <label class="label-radio"><input type="text" name="pattern3" size="20"> AND </label> <br>
              <label class="label-radio"><input type="text" name="pattern4" size="20"> AND </label> <br>
              <label class="label-radio"><input type="text" name="pattern5" size="20"></label>

              <h5>Search Option</h5>
              <label class="label-radio"> <input class="input-radio" type="checkbox" name="check_species" value="1"> Match To Species</label>
              <br>
              <div class="indented text-padding">
                <select name="species">
                  <option>Homo sapiens</option>
                  <option>Mus musculus</option>
                  <option>Rattus norvegicus</option>
                  <option>Caenorhabditis elegans</option>

                  <option>Drosophila melanogaster</option>
                  <option>Saccharomyces cerevisiae</option>
                  <option>Escherichia coli</option>
                  <option>Xenopus laevis</option>
                </select>
              </div>
              <label class="label-radio"> <input class="input-radio" type="checkbox" name="checkWithoutSq" value="1"> Without Sequence Data</label> <br>
              <label class="label-radio"> <input class="input-radio" type="checkbox" name="check_order" value="1"> Keep Pattern Order</label>  <br>
              <div class="btn-box align-right">
                <input class="btn" type="submit" value="  RUN  " />
                <input class="btn" type="reset"  value="CANCEL">
              </div>

            </form>





          </div>
          <div class="table-container">
            <div>
              <h5>How to search</h5>
              <ul class="text-padding">
                <li>‘x’, ’X’, ’.’ means randomly selected character. <br> If you input mxa, mXa or m.a, you can search from maa to mza. </li> <br>
                <li>X(number) Number means X was duplicated how many times <br> ex) ma(2) means maa. ma(3) means maaa. </li> <br>
                <li>By using ‘<’ or ‘^’, you can search from N-term location. <br> ex) &lt;ma or ^ma </li> <br>
                <li>By using ‘>’ or ‘$’, you can search from C-term location. <br> ma&gt; or ma$</li> <br>
                <li>This search program ignores '-' and ' '.</li>
              </ul>
            </div>



          </div>

        </div>
      </div>

    </article>
  </div>
</main>
<footer th:replace="~{partials/fragment :: footer}"></footer>



</body>
</html>
