<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>PRIX - PRoteome InformatiX</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:inline="javascript">
        function checkAll(obj, flag) {
            if (obj != null) {
                if (obj.length > 0) {
                    for (var i = 0; i < obj.length; i++) {
                        obj[i].checked = flag;
                    }
                } else {
                    obj.checked = flag;
                }
            }
        }

        var checkAllClickClasses = false;
        function checkAllClasses() {
            checkAllClickClasses = !checkAllClickClasses;
            checkAll(document.mod_list.mod, checkAllClickClasses);
            return true;
        }

        function uncheckTop(obj) {
            if (checkAllClickClasses && !obj.checked) {
                checkAllClickClasses = false;
                document.mod_list.check_all.checked = false;
            }
        }

        function sortBy(by) {
            document.mod_list.sort.value = by;
            document.mod_list.submit();
        }

        function doSave() {
            var obj = document.mod_list.mod;
            var filled = false;
            if (obj != null) {
                if (obj.length > 0) {
                    for (var i = 0; i < obj.length; i++) {
                        if (obj[i].checked) {
                            filled = true;
                        }
                    }
                } else {
                    if (obj.checked) {
                        filled = true;
                    }
                }
            }
            if (filled) {
                document.mod_list.action = "/modplus/unimod_ptms_list?submit=true";
                document.mod_list.submit();
            }
        }

        var currentFilter = /*[[${filter == 'default'} ? 0 : 1]]*/;
        function showFiltered() {
            if (!document.mod_list.filter[currentFilter].checked) {
                currentFilter = ~currentFilter;
                document.mod_list.submit();
            }
        }

        document.addEventListener("DOMContentLoaded", function() {
            /* 로드 시 조건 처리 */
            if ("[[${id}]]" === "") {
                opener.opener.location = "../login.jsp?url=modi/search.jsp";
                opener.close();
                window.close();
            } else if ("[[${finished}]]" === "true") {
                opener.location = "var_ptms_list?var=[[${var}]]&engine=[[${engine}]]";
                opener.opener.location.href = opener.opener.document.URL;
            }
        });
    </script>
</head>
<body>
<form name="mod_list" method="post" action="/modplus/unimod_ptms_list" id="modListForm">
    <input type="hidden" name="sort" th:value="${sortBy}"/>
    <input type="hidden" name="var" th:value="${var}"/>
    <input type="hidden" name="engine" th:value="${engine}"/>

    <table border="0" cellspacing="0" cellpadding="0" id="TitTable">
        <tr>
            <td style="padding-left:15px;">
                <font class="blueB" size="3">ms/ms search </font> _ Unimod modification list
            </td>
        </tr>
    </table>

    <table cellpadding="1" width="95%" align="center" border="0">
        <tbody>
        <tr>
            <td width="43%">
                <div align="left">
                    Show &nbsp;
                    <input name="filter" value="default" type="radio" class="CHECK" th:checked="${filter == 'default'}" onclick="showFiltered()"/>default &nbsp;
                    <input name="filter" value="all" type="radio" class="CHECK" th:checked="${filter == 'all'}" onclick="showFiltered()"/> all &nbsp; modification list
                    <br>
                </div>
            </td>
            <td width="57%">
                <div align="right">
                    <input name="button222" type="button" onclick="doSave()" value=" Add to search list"/>
                    <input name="button3" type="button" onclick="window.close()" value=" Close "/>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0" style="BORDER-BOTTOM: #d9dddc 1px solid; BORDER-TOP: #d9dddc 2px solid;">
        <thead>
        <tr>
            <td class="grayTH">
                <div align="center">
                    <input name="check_all" type="checkbox" class="CHECK" onclick="checkAllClasses();"/>
                </div>
            </td>
            <td class="grayTH">
                <div align="left">
                    <table border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td rowspan="2" style="padding-right:10px">Name
                                <span th:if="${sortBy == 'name asc'}">&uarr;</span>
                                <span th:if="${sortBy == 'name desc'}">&darr;</span>
                                <span th:if="${sortBy != 'name asc' && sortBy != 'name desc'}">&nbsp;</span>
                            </td>
                            <td><a href="#" onclick="sortBy('name asc')"><img src="/images/sortup.gif" width="10" height="10" border="0"></a></td>
                        </tr>
                        <tr>
                            <td><a href="#" onclick="sortBy('name desc')"><img src="/images/sortdown_cur.gif" width="10" height="10" border="0"></a></td>
                        </tr>
                    </table>
                </div>
            </td>
            <td class="grayTH">
                <div align="left">
                    <table border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td rowspan="2" style="padding-right:10px">Classification
                                <span th:if="${sortBy == 'class asc'}">&uarr;</span>
                                <span th:if="${sortBy == 'class desc'}">&darr;</span>
                                <span th:if="${sortBy != 'class asc' && sortBy != 'class desc'}">&nbsp;</span>
                            </td>
                            <td><a href="#" onclick="sortBy('class asc')"><img src="/images/sortup.gif" width="10" height="10" border="0"></a></td>
                        </tr>
                        <tr>
                            <td><a href="#" onclick="sortBy('class desc')"><img src="/images/sortdown_cur.gif" width="10" height="10" border="0"></a></td>
                        </tr>
                    </table>
                </div>
            </td>
            <td class="grayTH">
                <div align="right">
                    <table border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td rowspan="2" style="padding-right:10px">Mass
                                <span th:if="${sortBy == 'mass_diff asc'}">&uarr;</span>
                                <span th:if="${sortBy == 'mass_diff desc'}">&darr;</span>
                                <span th:if="${sortBy != 'mass_diff asc' && sortBy != 'mass_diff desc'}">&nbsp;</span>
                            </td>
                            <td><a href="#" onclick="sortBy('mass_diff asc')"><img src="/images/sortup.gif" width="10" height="10" border="0"></a></td>
                        </tr>
                        <tr>
                            <td><a href="#" onclick="sortBy('mass_diff desc')"><img src="/images/sortdown_cur.gif" width="10" height="10" border="0"></a></td>
                        </tr>
                    </table>
                </div>
            </td>
            <td class="grayTH">
                <div align="center">
                    <table border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td rowspan="2" style="padding-right:10px">Site
                                <span th:if="${sortBy == 'residue asc'}">&uarr;</span>
                                <span th:if="${sortBy == 'residue desc'}">&darr;</span>
                                <span th:if="${sortBy != 'residue asc' && sortBy != 'residue desc'}">&nbsp;</span>
                            </td>
                            <td><a href="#" onclick="sortBy('residue asc')"><img src="/images/sortup.gif" width="10" height="10"></a></td>
                        </tr>
                        <tr>
                            <td><a href="#" onclick="sortBy('residue desc')"><img src="/images/sortdown_cur.gif" width="10" height="10"></a></td>
                        </tr>
                    </table>
                </div>
            </td>
            <td class="grayTH">
                <div align="center">
                    <table border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td rowspan="2" style="padding-right:10px">Position
                                <span th:if="${sortBy == 'position asc'}">&uarr;</span>
                                <span th:if="${sortBy == 'position desc'}">&darr;</span>
                                <span th:if="${sortBy != 'position asc' && sortBy != 'position desc'}">&nbsp;</span>
                            </td>
                            <td><a href="#" onclick="sortBy('position asc')"><img src="/images/sortup.gif" width="10" height="10"></a></td>
                        </tr>
                        <tr>
                            <td><a href="#" onclick="sortBy('position desc')"><img src="/images/sortdown_cur.gif" width="10" height="10"></a></td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        </thead>
        <tbody th:unless="${#lists.isEmpty(modifications)}">
            <tr th:each="modification : ${modifications}" onMouseOver="this.style.backgroundColor='#f7f7f7'" onMouseOut="this.style.backgroundColor='#ffffff'">
                <td class="grayTD">
                    <div align="center">
                        <input name="mod" type="checkbox" th:value="${modification.id}" th:checked="${modFinder.findMod(modification.id.toString())}" class="CHECK" onclick="uncheckTop(this);"/>
                    </div>
                </td>
                <td class="grayTD">
                    <div align="left" th:text="${modification.name}">Name</div>
                </td>
                <td class="grayTD">
                    <div align="left" th:text="${modification.stringClass}">Classification</div>cd c
                </td>
                <td class="grayTD">
                    <div align="right" th:text="${modification.massDiff}">Mass</div>
                </td>
                <td class="grayTD">
                    <div align="center" th:text="${modification.residue}">Site</div>
                </td>
                <td class="grayTD">
                    <div align="center" th:text="${modification.position}">Position</div>
                </td>
            </tr>
        </tbody>
        <tr th:if="${#lists.isEmpty(modifications)}">
            <td class="grayTD" colspan="5">No modifications found.</td>
        </tr>
    </table>

    <table cellpadding="1" width="95%" align="center" border="0">
        <tbody>
        <tr>
            <td width="43%">
                <div align="left">
                    <br>
                </div>
            </td>
            <td width="57%">
                <div align="right">
                    <input name="button22322" type="button" onclick="doSave()" value=" Add to search list"/>
                    <input name="button3324" type="button" onclick="window.close()" value=" Close "/>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</form>
<br/>
<footer th:replace="~{partials/fragment :: footer}"></footer>
</body>
</html>
