<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="PRIX - PRoteome InformatiX" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/images/ci.gif" />
    <meta
      property="og:description"
      content="PRoteome InformatiX by Bioinformatics & Intelligent Systems Lab"
    />
    <title>PRIX - PRoteome InformatiX</title>
    <link href="/css/home.css" rel="stylesheet" />
    <link rel="icon" href="/images/ci.gif" type="image/gif" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  </head>

  <body>
    <header th:replace="~{fragment :: header0}"></header>
    <main>
      <div class="main-contents">
        <div class="main-title">
          <div class="title">
            <h3 class="drakBR">REGISTRATION</h3>
          </div>
        </div>
        <div class="outer-box">
          <img src="/images/tit_join.gif" alt="Member Login" />
          <div class="container" style="background: #fff; width: 1000px">
            <div class="box">
              <div class="inner-box personal-info">
                <h4>Personal Information Policy</h4>
                <span class="drakBR emphasized">
                  In accordance with the Personal Information Protection Act, we
                  will inform you of the purpose of collecting and using the
                  following personal information.
                  <br />
                  <br />
                  <br />
                </span>
                <b>1. Purpose of collecting personal information</b>
                <br />
                <span>
                  The PRIX service is provided through the account and we
                  collect ID and password to create these accounts.
                </span>
                <br />
                <br />
                <b>2. Personal information items to collect</b>
                <br />
                <span>ID and Password</span>
                <br />
                <br />
                <b>3. Personal Information Retention and Use Period</b>
                <br />
                <span>
                  We will permanently retain your ID and password unless you opt
                  out of PRIX.
                </span>
                <br />
                <br />
                <b>
                  4. You may refuse to consent to the collection, use, or
                  provision of personal information, but you may be restricted
                  from using the website.
                </b>
                <br />
                <br />
              </div>
              <div
                class="inner-box"
                style="width: 80%; border: #d9dddc 2px 0px solid"
              ></div>
              <br />
              <div class="btn-box">
                <input
                  class="btn"
                  type="button"
                  value="Decline"
                  onclick="goToLogin()"
                />
                <input
                  class="btn"
                  type="button"
                  value="Accept"
                  onclick="goToRegister()"
                />
                <script>
                  function goToAgree() {
                    window.location.href = "/login/agree";
                  }
                  function goToLogin() {
                    window.location.href = "/login/user";
                  }
                  function goToRegister() {
                    window.location.href = "/login/register";
                  }
                </script>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
  <footer th:replace="~{fragment :: footer}"></footer>
</html>
