<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="PRIX - PRoteome InformatiX" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/images/ci.gif" />
    <meta
      property="og:description"
      content="PRoteome InformatiX by Bioinformatics & Intelligent Systems Lab"
    />
    <title>PRIX - PRoteome InformatiX</title>
    <link href="/css/home.css" rel="stylesheet" />
    <link rel="icon" href="/images/ci.gif" type="image/gif" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  </head>

  <body>
  <header th:replace="~{fragment :: header3}"></header>

    <main>
      <div class="main-group">
        <aside>
          <div class="main-slide">
            <img src="/images/subtit03.gif" alt="" />
          </div>

          <div class="content-indexes">
            <br />
            <br />
            <span>
              <img src="/images/icon_5.gif" width="6px" height="10px" />
              ACTG
            </span>
            <br />
            <br />
            <span>
              <img src="/images/icon_5.gif" width="6px" height="10px" />
              CIFTER
            </span>
            <br />
            <br />
            <span>
              <img src="/images/icon_5.gif" width="6px" height="10px" />
              DBond
            </span>
            <br />
            <br />
            <span>
              <img src="/images/icon_5.gif" width="6px" height="10px" />
              deMix
            </span>
            <br />
            <br />
            <span>
              <img src="/images/icon_5.gif" width="6px" height="10px" />
              DDP Search
            </span>
            <br />
            <br />
            <span>
              <img src="/images/icon_5.gif" width="6px" height="10px" />
              Next Search
            </span>
            <br />
            <br />
            <span>
              <img src="/images/icon_5.gif" width="6px" height="10px" />
              MODa
            </span>
            <br />
            <br />
            <span>
              <img src="/images/icon_5.gif" width="6px" height="10px" />
              MODPlus
            </span>
            <br />
            <br />
            <span>
              <img src="/images/icon_5.gif" width="6px" height="10px" />
              MutCombinator
            </span>
            <br />
            <br />
            <span>
              <img src="/images/icon_5.gif" width="6px" height="10px" />
              USE
            </span>
          </div>
        </aside>
        <article>
          <div class="main-article">
            <div class="main-title">
              <div class="title">
                <h3 class="drakBR">MODPlus</h3>
                <br />
              </div>
            </div>

            <div class="main-contents">

          </div>
        </article>
      </div>
    </main>

  </body>
  <footer th:replace="~{fragment :: footer}"></footer>
</html>
