<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="PRIX - PRoteome InformatiX" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/images/ci.gif" />
    <meta
      property="og:description"
      content="PRoteome InformatiX by Bioinformatics & Intelligent Systems Lab"
    />
    <title>PRIX - PRoteome InformatiX</title>
    <link href="/css/home.css" rel="stylesheet" />
    <link rel="icon" href="/images/ci.gif" type="image/gif" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  </head>

  <body>
    <header th:replace="~{fragment :: header1}"></header>
    <main>
      <div class="main-group">
        <aside>
          <div class="main-slide">
            <img src="/images/subimg01.gif" alt="" />
          </div>
        </aside>
        <article>
          <div class="main-article">
            <div class="main-title">
              <div class="title">
                <h2 class="drakBR">Welcome!</h2>
                <br />
              </div>
            </div>

            <div class="main-contents no-paddin">
              <div>
                <p>
                  <img src="/images/p_st1.GIF" width="4px" height="9px" />
                  This site features
                  <a href="" class="under">MODPlus</a>
                  <span class="drakBR">
                    (advanced version of MOD
                    <sup>i</sup>
                    ),
                  </span>
                  a powerful modification search engine that uses mass
                  spectrometry data to identify protein modifications. MODPlus
                  facilitates cutting-edge proteomics research by extensively
                  searching through hundreds of potential modifications
                  efficiently. Among the existing search tools, MODPlus can take
                  the most number of modifications as its search parameter.

                  <br />
                  <br />
                </p>

                <p>
                  <img src="/images/p_st1.GIF" width="4px" height="9px" />
                  <span class="drakBR">
                    Special search engine for disulfide linkage analysis,
                  </span>
                  <a href="" class="under">DBond</a>
                  .
                  <br />
                  Certain post-translational modifications involve more than one
                  peptide and thus cannot be easily searched by conventional
                  modification search algorithms. We provide specialized
                  software, DBond that can analyze intact disulfide linkage
                  between two peptides. Disulfide linkages not only contribute
                  to the stability of a protein's structure, but it is known to
                  regulate mediation of various signaling pathways in a cell. It
                  is of particular interest to biopharmaceutical industry as
                  disulfide bridge characterization is an important part of
                  acceptance criteria for biological products.
                  <br />
                  <br />
                </p>

                <p>
                  <img src="/images/p_st1.GIF" width="4px" height="9px" />
                  <span class="drakBR">
                    Multi-blind unrestrictive modification search,
                  </span>
                  <a href="" class="under">MODa</a>
                  .
                  <br />

                  We provide specialized software, MODa that can search spectra
                  for all possible modifications at once, in unrestrictive mode.
                  MODa is the first practical multi-blind unrestrictive approach
                  for the identification of multiply modified peptides.
                </p>
              </div>
            </div>
          </div>
        </article>
      </div>
    </main>
  </body>
  <footer th:replace="~{fragment :: footer}"></footer>
</html>
