<!DOCTYPE html>
<html lang="en">
<head th:replace="~{partials/fragment :: head}"></head>
<body>
<header th:replace="~{partials/fragment :: header3}"></header>

<main>
    <div class="main-group">
        <aside th:replace="partials/download_fragment :: download-menus"></aside>
        <article>
            <!-- software 파라미터로 제목의 DBond 부분을 동적으로 설정 -->
            <div th:replace="~{partials/template_fragment :: main-title('SOFTWARE REQUEST (' + ${software} + ')', '')}"></div>
            <table style="width: 95%; border-collapse: collapse; border: none; margin: 0 auto;">

                <tr th:if="${success == 0}">
                    <td>
                        <!-- RequestForm 사용 -->
                        <form name="req" th:action="@{/download/request}" method="post" th:object="${requestForm}" onsubmit="return validateAccept()">
                            <table style="width: 560px; border-collapse: collapse; margin: 1px; border: none">
                                <tr>
                                    <td><span class="blue" style="font-size: 1.5em;">License Agreement<br><br></span>
                                        <div th:replace="~{'download/license' :: license}"></div>
                                    </td>
                                </tr>

                                <tr>
                                    <td style="text-align: right;">
                                        <input type="radio" th:field="*{agreement}" value="0xno" th:checked="${requestForm.agreement == '0xno'}"> Decline&nbsp;&nbsp;&nbsp;
                                        <input type="radio" th:field="*{agreement}" value="1xyes" th:checked="${requestForm.agreement == '1xyes'}"> Accept
                                    </td>
                                </tr>
                            </table>

                            <table style="width: 560px; border-collapse: collapse; border-bottom: 1px solid #d9dddc; border-top: 2px solid #d9dddc;">
                                <tr style="border-bottom: 1px solid #d9dddc;">
                                    <th style="width: 250px; background-color: #f0f0f0; text-align: left;">Name</th>
                                    <td><input th:field="*{name}" type="text" style="width: 100%;" required></td>
                                </tr>
                                <tr style="border-bottom: 1px solid #d9dddc;">
                                    <th style="width: 250px; background-color: #f0f0f0; text-align: left;">Affiliation</th>
                                    <td><input th:field="*{affiliation}" type="text" style="width: 100%;" required></td>
                                </tr>
                                <tr style="border-bottom: 1px solid #d9dddc;">
                                    <th style="width: 250px; background-color: #f0f0f0; text-align: left;">Title</th>
                                    <td><input th:field="*{title}" type="text" style="width: 100%;" required></td>
                                </tr>
                                <tr style="border-bottom: 1px solid #d9dddc;">
                                    <th style="width: 250px; background-color: #f0f0f0; text-align: left;">E-mail (at the affiliated institute)</th>
                                    <td><input th:field="*{email}" type="email" style="width: 100%;" required></td>
                                </tr>
                                <tr style="border-bottom: 1px solid #d9dddc;">
                                    <th style="width: 250px; background-color: #f0f0f0; text-align: left;">Instrument Type</th>
                                    <td><input th:field="*{instrument}" type="text" style="width: 100%;" required></td>
                                </tr>
                            </table>
                            <br>

                            <table style="width: 560px; border-collapse: collapse; border: none">
                                <tr>
                                    <td style="text-align: right;">
                                        <input name="Cancel" type="button" class="btn" value="Cancel" onclick="window.location='/publications'">
                                        <input name="Request" type="submit" class="btn" value="Request">
                                    </td>
                                </tr>
                            </table>
                        </form>

                    </td>
                </tr>

                <tr th:if="${success == 1}">
                    <td>
                        <p class="blue">
                            Your request has been successfully processed. You'll receive the software via email (<span th:text="${email}"></span>) in a few days.<br>
                            If you don't receive the email, please contact <a class="under" href="mailto:prix@hanyang.ac.kr">Eunok Paek</a>.
                        </p>
                    </td>
                </tr>

                <tr th:if="${success == 2}">
                    <td>
                        <p class="blue">
                            Your request has not been processed. Please retry.<br>
                            If this problem is not resolved, please contact <a class="under" href="mailto:prix@hanyang.ac.kr">Eunok Paek</a>.
                        </p>
                    </td>
                </tr>
            </table>
        </article>
    </div>
</main>

<footer th:replace="~{partials/fragment :: footer}"></footer>
</body>
</html>

<script>
    function validateAccept() {
        var form = document.req;

        // 'Accept' 라디오 버튼이 선택되었는지 확인
        if (!form.agreement[1].checked) {
            alert("You must accept the license agreement to download this software.");
            return false;
        }
        return true;  // 'Accept'가 선택된 경우에만 제출
    }
</script>