<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="PRIX - PRoteome InformatiX" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/images/ci.gif" />
    <meta
            property="og:description"
            content="PRoteome InformatiX by Bioinformatics & Intelligent Systems Lab"
    />
    <title>PRIX - PRoteome InformatiX</title>
    <link href="/css/home.css" rel="stylesheet" />
    <link rel="icon" href="/images/ci.gif" type="image/gif" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
</head>
<body>
<!-- Header Fragment When choose none-->
<header th:fragment="header0">
    <div class="header">
        <div class="gnb">
            <div id="logo">
                <a th:href="@{/}" href="../index.html">
                    <img src="/images/ci.gif" width="196" height="88" />
                </a>
            </div>

            <div class="header-right">
                <div th:replace="this :: header-top"></div>
                <div class="header-middle">
                    <div class="gnb-list">
                        <a th:href="@{/}" href="../index.html">
                            <img class="gnb-items" src="/images/menu03_01.gif" alt="Introduction"/>
                        </a>
                        <a th:href="@{/livesearch}" href="../livesearch/livesearch.html">
                            <img class="gnb-items" src="/images/menu04_02.gif" alt="LiveSearch" style="left: 142px"/>
                        </a>
                        <a th:href="@{/download}" href="../download/download.html">
                            <img class="gnb-items" src="/images/menu01_03.gif" alt="Download" style="left: 277px"/>
                        </a>
                        <a th:href="@{/publication}" href="../publications/publications.html">
                            <img class="gnb-items" src="/images/menu01_04.gif" alt="Publications" style="left: 410px"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <img src="/images/menu_bg3.gif" alt="" width="100%" height="25px" />
    </div>
</header>
<!-- Header Fragment When choose Introduction-->
<header th:fragment="header1">
    <div class="header">
        <div class="gnb">
            <div id="logo1">
                <a th:href="@{/}" href="../index.html">
                    <img src="/images/ci.gif" width="196" height="88" />
                </a>
            </div>

            <div class="header-right">
                <div th:replace="this :: header-top"></div>
                <div class="header-middle">
                    <div class="gnb-list">
                        <a th:href="@{/}" href="../index.html">
                            <img class="gnb-items" src="/images/menu01_01.gif" alt="Introduction"/>
                        </a>
                        <a th:href="@{/livesearch}" href="../livesearch/livesearch.html">
                            <img class="gnb-items" src="/images/menu01_02.gif" alt="LiveSearch" style="left: 142px"/>
                        </a>
                        <a th:href="@{/download}" href="../download/download.html">
                            <img class="gnb-items" src="/images/menu01_03.gif" alt="Download" style="left: 277px"/>
                        </a>
                        <a th:href="@{/publication}" href="../publications/publications.html">
                            <img class="gnb-items" src="/images/menu01_04.gif" alt="Publications" style="left: 410px"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <img src="/images/menu_bg3.gif" alt="" width="100%" height="25px" />
    </div>
</header>

<!-- Header Fragment When choose Live Search-->
<header th:fragment="header2">
    <div class="header">
        <div class="gnb">
            <div id="logo2">
                <a th:href="@{/}" href="../index.html">
                    <img src="/images/ci.gif" width="196" height="88" />
                </a>
            </div>

            <div class="header-right">
                <div th:replace="this :: header-top"></div>
                <div class="header-middle">
                    <div class="gnb-list">
                        <a th:href="@{/}" href="../index.html">
                            <img class="gnb-items" src="/images/menu02_01.gif" alt="Introduction"/>
                        </a>
                        <a th:href="@{/livesearch}" href="../livesearch/livesearch.html">
                            <img class="gnb-items" src="/images/menu02_02.gif" alt="LiveSearch" style="left: 142px"/>
                        </a>
                        <a th:href="@{/download}" href="../download/download.html">
                            <img class="gnb-items" src="/images/menu02_03.gif" alt="Download" style="left: 277px"/>
                        </a>
                        <a th:href="@{/publication}" href="../publications/publications.html">
                            <img class="gnb-items" src="/images/menu02_04.gif" alt="Publications" style="left: 410px"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <img src="/images/menu_bg3.gif" alt="" width="100%" height="25px" />
    </div>
</header>

<!-- Header Fragment When choose Download-->
<header th:fragment="header3">
    <div class="header">
        <div class="gnb">
            <div id="logo3">
                <a th:href="@{/}" href="../index.html">
                    <img src="/images/ci.gif" width="196" height="88" />
                </a>
            </div>

            <div class="header-right">
                <div th:replace="this :: header-top"></div>
                <div class="header-middle">
                    <div class="gnb-list">
                        <a th:href="@{/}" href="../index.html">
                            <img class="gnb-items" src="/images/menu03_01.gif" alt="Introduction"/>
                        </a>
                        <a th:href="@{/livesearch}" href="../livesearch/livesearch.html">
                            <img class="gnb-items" src="/images/menu03_02.gif" alt="LiveSearch" style="left: 142px"/>
                        </a>
                        <a th:href="@{/download}" href="../download/download.html">
                            <img class="gnb-items" src="/images/menu03_03.gif" alt="Download" style="left: 277px"/>
                        </a>
                        <a th:href="@{/publication}" href="../publications/publications.html">
                            <img class="gnb-items" src="/images/menu03_04.gif" alt="Publications" style="left: 410px"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <img src="/images/menu_bg3.gif" alt="" width="100%" height="25px" />
    </div>
</header>

<!-- Header Fragment When choose Publications-->
<header th:fragment="header4">
    <div class="header">
        <div class="gnb">
            <div id="logo4">
                <a th:href="@{/}" href="../index.html">
                    <img src="/images/ci.gif" width="196" height="88" />
                </a>
            </div>

            <div class="header-right">
                <div th:replace="this :: header-top"></div>
                <div class="header-middle">
                    <div class="gnb-list">
                        <a th:href="@{/}" href="../index.html">
                            <img class="gnb-items" src="/images/menu04_01.gif" alt="Introduction"/>
                        </a>
                        <a th:href="@{/livesearch}" href="../livesearch/livesearch.html">
                            <img class="gnb-items" src="/images/menu04_02.gif" alt="LiveSearch" style="left: 142px"/>
                        </a>
                        <a th:href="@{/download}" href="../download/download.html">
                            <img class="gnb-items" src="/images/menu04_03.gif" alt="Download" style="left: 277px"/>
                        </a>
                        <a th:href="@{/publication}" href="../publications/publications.html">
                            <img class="gnb-items" src="/images/menu04_04.gif" alt="Publications" style="left: 410px"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <img src="/images/menu_bg3.gif" alt="" width="100%" height="25px" />
    </div>
</header>

<!-- Common Header Top Fragment-->
<div th:fragment="header-top" class="header-top">
    <div>
        <div class="top-menu">
            <div class="top-dot" style="width: 70px"></div>
            <div class="top-dot" style="width: 60px"></div>
            <div class="top-dot" style="width: 82px"></div>
            <div class="top-dot" style="width: 60px"></div>
            <div class="top-dot" style="width: 60px"></div>
        </div>
        <div class="top-menu">
            <div th:if="${!isUserLoggedIn}" class="top-dot2">
                <img src="/images/top_icon_01.gif" style="width: 2px; height: 9px; padding-right: 3px"/>
                <a class="top_menu" th:href="@{/login/user}" href="../login/login.html">LOG IN</a>
            </div>
            <div th:if="${isUserLoggedIn}" class="top-dot2">
                <img src="/images/top_icon_01.gif" style="width: 2px; height: 9px; padding-right: 3px"/>
                <a class="top_menu" href="javascript:void(0)" onclick="document.getElementById('logoutForm').submit()">LOG OUT</a>
                <form id="logoutForm" th:action="@{/login/logout}" method="post" style="display: none;"></form>
            </div>
            <div th:if="${isUserLoggedIn}" class="top-dot2">
                <img src="/images/top_icon_01.gif" style="width: 2px; height: 9px; padding-right: 3px"/>
                <a class="top_menu" th:href="@{/deleteAccount}" href="../deleteAccount.html">DELETE<br>ACCOUNT</a>
            </div>
            <div class="top-dot2">
                <img src="/images/top_icon_01.gif" style="width: 2px; height: 9px; padding-right: 3px"/>
                <a class="top_menu" th:href="@{/help}" href="../info/help.html">HELP</a>
            </div>
            <div class="top-dot2">
                <img src="/images/top_icon_01.gif" style="width: 2px; height: 9px; padding-right: 3px"/>
                <a class="top_menu" th:href="@{/contact}" href="../info/contact.html">CONTACT</a>
            </div>
            <div class="top-dot2">
                <img src="/images/top_icon_01.gif" style="width: 2px; height: 9px; padding-right: 3px"/>
                <a class="top_menu" th:href="@{/login/admin}" href="../login/admin_login.html">ADMIN</a>
            </div>
        </div>
    </div>
</div>

</body>
<!-- Footer Fragment -->
<footer th:fragment="footer">
    <div class="copy">
        Copyright &copy; 2012
        <a href="http://bislab.hanyang.ac.kr/" class="under" target="_blank">
            Bioinformatics &amp; Intelligent Systems Lab
        </a>,
        <a href="http://www.hanyang.ac.kr/english/" class="under" target="_blank">
            Hanyang University
        </a>, Korea. All rights reserved.
        <br />
        <a th:href="@{/policy}" href="html/policy.html" class="under" target="_blank">
            Personal Information Policy
        </a>
    </div>
</footer>
</html>
