<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>


<!--Fragment: Main Title-->
<div th:fragment="main-title(title, text)">
    <div class="main-title">
        <div class="title">
            <h3 class="drakBR" th:text="${title}">
                Default Title
            </h3>
            <span th:text="${text}">- Description</span>
            <br />
        </div>
    </div>
</div>


<!--download page - publication section-->
<div th:fragment="publication-section(description, author, citation, citation_url, pmid, omicX)">
    <div class="grayTD">
        <img src="/images/p_st1.GIF" width="4" height="9" />
        <span class="drakBR">Publication</span>
    </div>
    <div class="text-padding">
            <span class="drakBR" th:text="${description}">description</span> <br>
            <span><em th:text="${author}">author</em></span> <br>
            <span th:text="${citation}">citation</span>
            <span><a class="under" th:href="${citation_url}" th:text="${pmid}">PMID</a></span>
            <div th:if="${omicX != null}">
                <a th:href="${omicX}">
                    <img src="/images/omictoolslogo.JPG" width="120px" height="40px">
                </a>
            </div>
    </div>
</div>










<div th:fragment="publication-content(name, download_link, description, author, citation, PMID)">
<div>
    <img src="/images/p_st1.GIF" width="4" height="9" />
    <span class="drakBR" th:text="${name}">Name</span>
    <span>( <a th:href="@{${download_link}}">Software download</a> )</span>
</div>
    <hr>
<p>
    <span class="drakBR" th:text="${description}">description</span> <br/>
    <em th:text="${author}">author</em> <br/>
    <span th:text="${citation}">citation.</span>
    <span><a th:href="'https://pubmed.ncbi.nlm.nih.gov/' + ${PMID}" target="_blank" class="under" th:text="'[ PMID: '+${PMID}+' ]'">[ PMID ]</a></span>

</p>
</div>

<div th:fragment="publication-content-no-download(name, description, author, citation, PMID)">
    <div>
        <img src="/images/p_st1.GIF" width="4" height="9" />
        <span class="drakBR"><span  th:text="${name}">Name</span><sup class="inline" th:if="${name} == 'MOD'">i</sup></span>
    </div>
    <hr>
    <p>
        <span class="drakBR" th:text="${description}">description</span> <br/>
        <em th:text="${author}">author</em> <br/>
        <span th:text="${citation}">citation.</span>
        <span><a th:href="'https://pubmed.ncbi.nlm.nih.gov/' + ${PMID}" target="_blank" class="under" th:text="'[ PMID: '+${PMID}+' ]'">[ PMID ]</a></span>

    </p>
</div>





<!--Publication Fragments-->




<!--Live Search Fragments-->
<aside th:fragment="livesearch-menu" >
    <div class="main-slide">
        <img src="/images/subtit02.gif" alt="" />
    </div>

    <div class="content-indexes">
        <br>
        <br>
        <span>
              <img src="/images/icon_5.gif" width="6px" height="10px" />
              <a class="menu" th:href="@{/livesearch/ACTG}">ACTG</a>
            </span>
        <br>
        <br>
        <span>
              <img src="/images/icon_5.gif" width="6px" height="10px" />
              <a class="menu" th:href="@{/dbond/dbond_search}">DBond</a>
            </span>
        <br>
        <br>
        <span>
              <img src="/images/icon_5.gif" width="6px" height="10px" />
              <a class="menu" th:href="@{/livesearch/PatternMatch}">Pattern Match</a>
            </span>
        <br>
        <br>
        <span>
              <img src="/images/icon_5.gif" width="6px" height="10px" />
              <a class="menu" th:href="@{/livesearch/USE}">USE</a>
            </span>
    </div>
</aside><div th:fragment="livesearch-title(title, text, version)">
    <div class="main-title">
        <div class="title space-between">
            <div class="title text-padding">
                <h3 class="blue-up" th:text="${title}">
                    Default Title
                </h3>
                <span th:text="${text}">- Description</span>

                <span class="text-padding black" th:if="${version}!=''" th:text="'( ' + ${version} + ' )'"></span>
            </div>
            <div style="margin-right: 12px;">
                <img src="/images/top_icon_01.gif" style="width:2px; height:9px; padding-right: 3px;">
                <span><a class="menu" href="/livesearch/history"> History</a></span>
            </div>
        </div>
    </div>
</div>




</body>
</html>