<!DOCTYPE html>
<html lang="en">
<head th:replace="~{partials/fragment :: head}"></head>
  <body>
  <header th:replace="~{partials/fragment :: header4}"></header>

    <main>
      <div class="main-contents">
        <div class="main-title">
          <div class="title">
            <h3 class="drakBR">PUBLICATIONS</h3>
          </div>
        </div>
        <div class="main-contents no-padding width-650">
          <div th:replace="~{partials/template_fragment :: publication-content('MutCombinator', 'https://prix.hanyang.ac.kr/download/mutcombinator.jsp', 'MutCombinator: identification of mutated peptides allowing combinatorial mutations using nucleotide-based graph search.', 'Seunghyuk Choi and Eunok Paek.', 'Bioinformatics, 2020, 7, i203-i209.', '32657416')}"></div>
          <div th:replace="~{partials/template_fragment :: publication-content('deMix', 'https://prix.hanyang.ac.kr/download/mutcombinator.jsp', 'deMix: Decoding Deuterated Distributions from Heterogeneous Protein States vis HDX-MS', 'Seungjin Na, Jae-Jin Lee, Jong Wha J. Joo, Kong-Joo Lee and Eunok Paek.', 'Scientific Reports, 2019, 9, 3176.', '30816214')}"></div>
          <div th:replace="~{partials/template_fragment :: publication-content('ACTG', 'https://prix.hanyang.ac.kr/download/mutcombinator.jsp', 'ACTG: novel peptide mapping onto gene models.', 'Seunghyuk Choi, Hyunwoo Kim, and Eunok Paek.', 'Bioinformatics, 2017, 33(8), 1218-1220.', '28031186')}"></div>

          <div th:replace="~{partials/template_fragment :: publication-content('NextSearch', 'https://prix.hanyang.ac.kr/download/mutcombinator.jsp', 'NextSearch: A Search Engine for Mass Spectrometry Data against a Compact Nucleotide Exon Graph.', 'Hyunwoo Kim, Heejin Park, and Eunok Paek.', 'Journal of Proteome Research, 2015, 14(7), 2784-2791.', '26004133')}"></div>
          <div th:replace="~{partials/template_fragment :: publication-content('MODa', 'https://prix.hanyang.ac.kr/download/mutcombinator.jsp', 'Fast multi-blind modification search through tandem mass spectrometry.', 'Seungjin Na, Nuno Bandeira, and Eunok Paek.', 'Molecular and Cellular Proteomics, 2012, 11, M111.010199.', '22186716')}"></div>
          <div th:replace="~{partials/template_fragment :: publication-content('DBond', 'https://prix.hanyang.ac.kr/download/mutcombinator.jsp', 'New algorithm for the identification of intact disulfide linkages based on fragmentation characteristics in tandem mass spectra.', 'New algorithm for the identification of intact disulfide linkages based on fragmentation characteristics in tandem mass spectra.', 'Journal of Proteome Research, 2010, 9, 626-635.', '19902913')}"></div>
          <div th:replace="~{partials/template_fragment :: publication-content('MODmap', 'https://prix.hanyang.ac.kr/download/mutcombinator.jsp', 'Prediction of novel modifications by unrestrictive search of tandem mass spectra.', 'Seungjin Na and Eunok Paek.', 'Journal of Proteome Research, 2009, 8, 4418-4427.', '19658439')}"></div>
          <div th:replace="~{partials/template_fragment :: publication-content('MOD', 'https://prix.hanyang.ac.kr/download/mutcombinator.jsp', 'Unrestrictive identification of multiple post-translational modifications from tandem mass spectrometry using an error-tolerant algorithm based on an extended sequence tag approach.', 'Seungjin Na, Jaeho Jeong, Heejin Park, Kong-Joo Lee, and Eunok Paek.', 'Molecular and Cellular Proteomics, 2008, 7, 2452-2463.', '18701446')}"></div>

        </div>

      </div>


    </main>

  </body>
  <footer th:replace="~{partials/fragment :: footer}"></footer>
</html>
