<!DOCTYPE html>
<html lang="en">
<head th:replace="~{partials/fragment :: head}"></head>
  <body>
  <header th:replace="~{partials/fragment :: header0}"></header>

    <main>
      <div class="main-contents">
        <div class="main-title">
          <div class="title">
            <h3 class="drakBR">CONTACT INFORMATION</h3>
          </div>
        </div>

        <div class="main-contents no-padding">
          <img src="/images/p_st1.GIF" width="4px" height="9px" />

          <span class="drakBR">Director</span>
          <p class="text-padding">
            <span>Eunok Paek, Ph.D.</span>
            <br />
            <span>
              Division of Cumputer Science and Engineering, Hanyang University
            </span>
            <br />
            <span>
              (address) 222 Wangsimni-ro, Seongdong-gu, Seoul 133-791 KOREA
            </span>
            <br />
            <span>(phone) +82-2-2220-2377</span>
            <br />
            <span>(fax) +82-2-2299-2377</span>
            <br />
            <span>
              (email)
              <a class="under" href="mailto:prix@hanyang.ac.kr">
                prix@hanyang.ac.kr
              </a>
            </span>

            <br />
            <br />
            <br />
          </p>
          <a href="https://www.hanyang.ac.kr/web/eng/home/" target="_blank">
            <img src="/images/logo_hanyang.gif" width="85" height="85" alt="" />
          </a>
        </div>
      </div>
    </main>
  </body>

  <footer th:replace="~{partials/fragment :: footer}"></footer>
</html>
