<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{partials/fragment :: head}">
</head>
<body>
<header th:replace="~{partials/fragment :: header0}"></header>
<main>
    <style>
        .rightAlign { text-align: right; }
        .verticalSpace { margin: 1em 0; }
        .table-width {
            width: 80%;
            border: none;
        }
        .no-border {
            border: none;
        }
        .input-width {
            width: 300px;
        }
        /* Hover effect for table rows */
        .config-table tr:hover {
            background-color: #fafad2;
        }
    </style>
    <div class="main-contents">
        <div th:replace="~{'admin/menu' :: menu(currentSection='Configuration')}"></div>

        <div>
            <table class="table-width">
                <tr class="no-border">
                    <td class="no-border"><img src="/images/p_st1.GIF" alt="" style="width:4px;height:9px"><font class="drakBR"> Database</font><br/></td>
                </tr>
                <tr>
                    <td>
                        <table class="config-table">
                            <tr>
                                <th class="grayTH">Name</th>
                                <th class="grayTH">File</th>
                                <th class="grayTH"></th>
                                <th class="grayTH">&nbsp;</th>
                            </tr>
                            <tr th:each="db : ${databases}">
                                <form method="post" th:action="@{/admin/update_file}" th:object="${Database}">
                                    <input name="id" type="hidden" th:value="${db.id}" />
                                    <td class="grayTD">
                                        <input name="name" type="text" style="width:40em" th:value="${db.name}" />
                                    </td>
                                    <td class="grayTD" th:text="${db.file}"></td>
                                    <td class="grayTD">
                                        <input name="action" type="submit" class="btnSmall" style="margin-right: 10px;" value=" edit name " />
                                    </td>
                                    <td class="grayTD">
                                        <input name="action" type="submit" class="btnSmall" value=" unlink " />
                                    </td>
                                </form>
                            </tr>
                            <tr>
                                <form method="post" th:action="@{/admin/upload}" enctype="multipart/form-data">
                                    <td class="grayTD"><input name="db_name" type="text" size="40" required /></td>
                                    <td class="grayTD"><input name="db_file" type="file" size="40" required /></td>
                                    <td class="grayTD"></td>
                                    <td class="grayTD">
                                        <div><input name="add_db" type="submit" class="btnSmall" value="Upload" /></div>
                                    </td>
                                </form>

                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="verticalSpace">&nbsp;</td>
                </tr>
            </table>

            <table class="table-width">
                <td><img src="/images/p_st1.GIF" alt="" style="width:4px;height:9px"><font class="drakBR"> Enzymes</font><br/></td>
                <tr>
                    <td>
                        <table class="config-table">
                            <tr>
                                <th class="grayTH">Name</th>
                                <th class="grayTH">At Nterm</th>
                                <th class="grayTH">At Cterm</th>
                                <th class="grayTH">&nbsp;</th>
                                <th class="grayTH">&nbsp;</th>
                            </tr>
                            <tr th:each="e : ${enzymes}">
                                <form method="post" th:action="@{/admin/update_enzyme}" th:object="${Enzyme}">
                                    <input name="id" type="hidden" th:value="${e.id}" />
                                    <td class="grayTD">
                                        <input name="name" type="text" class="input-width" th:value="${e.name}" />
                                    </td>
                                    <td class="grayTD">
                                        <input name="nt_cleave" type="text" class="input-width" th:value="${e.nt_cleave}" />
                                    </td>
                                    <td class="grayTD">
                                        <input name="ct_cleave" type="text" class="input-width" th:value="${e.ct_cleave}" />
                                    </td>
                                    <td class="grayTD">
                                        <input name="action" type="submit" class="btnSmall" style="margin-right: 10px;" value=" edit name " />
                                    </td>
                                    <td class="grayTD">
                                        <input name="action" type="submit" class="btnSmall" value=" delete " />
                                    </td>
                                </form>
                            </tr>
                            <tr>
                                <form method="post" th:action="@{/admin/add_enzyme}" th:object="${Enzyme}">
                                    <td class="grayTD"><input name="name" type="text" class="input-width" required/></td>
                                    <td class="grayTD"><input name="nt_cleave" type="text" class="input-width" /></td>
                                    <td class="grayTD"><input name="ct_cleave" type="text" class="input-width" /></td>
                                    <td class="grayTD"><input name="action" type="submit" class="btnSmall" value=" add " /></td>
                                    <td class="grayTD"></td>
                                </form>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="verticalSpace">&nbsp;</td>
                </tr>
            </table>

            <table class="table-width">
                <td><img src="/images/p_st1.GIF" alt="" style="width:4px;height:9px"><font class="drakBR"> Modifications</font><br/></td>
                <tr>
                    <td>
                        <table class="config-table">
                            <tr>
                                <th class="grayTH">Date</th>
                                <th class="grayTH">Version</th>
                                <th class="grayTH">File</th>
                                <th class="grayTH">&nbsp;</th>
                            </tr>
                            <tr th:each="m : ${modificationLogs}">
                                <form method="post" th:action="@{/admin/update_modification}" th:object="${modificationLogs}">
                                    <td class="grayTD" th:text="${#dates.format(m.date, 'yyyy.MM.dd')}"></td>
                                    <td class="grayTD" th:text="${m.version}"></td>
                                    <td class="grayTD" th:text="${m.file}"></td>
                                    <td class="grayTD"></td>
                                </form>
                            </tr>
                            <tr>
                                <form method="post" th:action="@{/admin/add_modification}" enctype="multipart/form-data">
                                    <td class="grayTD"><input name="date" type="date" size="20" required /></td>
                                    <td class="grayTD"><input name="version" type="text" size="20" required /></td>
                                    <td class="grayTD"><input name="file" type="file" size="50" required /></td>
                                    <td class="grayTD"><input name="action" type="submit" class="btnSmall" value=" upload " /></td>
                                </form>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="verticalSpace">&nbsp;</td>
                </tr>
            </table>

            <table class="table-width">
                <tr>
                    <td><img src="/images/p_st1.GIF" alt="" style="width:4px;height:9px"><font class="drakBR"> Software</font><br/></td>
                </tr>
                <tr>
                    <td>
                        <table class="config-table">
                            <tr>
                                <th class="grayTH">Name</th>
                                <th class="grayTH">Release Date</th>
                                <th class="grayTH">Version</th>
                                <th class="grayTH">File</th>
                                <th class="grayTH">&nbsp;</th>
                            </tr>
                            <tr th:each="m : ${softwareLogs}">
                                <td class="grayTD" th:text="${m.name}"></td>
                                <td class="grayTD" th:text="${#dates.format(m.date, 'yyyy.MM.dd')}"></td>
                                <td class="grayTD" th:text="${m.version}"></td>
                                <td class="grayTD" th:text="${m.file}"></td>
                                <td class="grayTD"></td>
                            </tr>
                            <tr>
                                <form method="post" th:action="@{/admin/upload_software}" enctype="multipart/form-data">
                                    <tr>
                                        <td class="grayTD">
                                            <select name="sftw_name" required>
                                                <option value="">Select --</option>
                                                <option value="MODa">MODa</option>
                                                <option value="DBond">DBond</option>
                                                <option value="NextSearch">NextSearch</option>
                                                <option value="DDPSearch">DDPSearch</option>
                                                <option value="ACTG">ACTG</option>
                                                <option value="deMix">deMix</option>
                                                <option value="MODPlus">MODPlus</option>
                                                <option value="MutCombinator">MutCombinator</option>
                                                <option value="TIDD">TIDD</option>
                                            </select>
                                        </td>
                                        <td class="grayTD">
                                            <input name="sftw_date" type="date" size="20" required />
                                        </td>
                                        <td class="grayTD">
                                            <input name="sftw_version" type="text" size="20" required />
                                        </td>
                                        <td class="grayTD">
                                            <input name="sftw_file" type="file" size="50" required />
                                        </td>
                                        <td class="grayTD">
                                            <input name="action" type="submit" class="btnSmall" value="upload" />
                                        </td>
                                    </tr>
                                </form>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="verticalSpace">&nbsp;</td>
                </tr>
            </table>

            <table class="table-width">
                <form name="swmg1234" method="post" th:action="@{/admin/update_software_message}">
                    <tr>
                        <td class="grayTH" width="70">
                            <div style="text-align: right;">
                                <input name="sftw_msg" type="submit" class="btnOrgSmall" value=" update "/>
                            </div>
                        </td>
                        <td class="grayTH">
                            <div style="text-align: left;">Email message to a recipient</div>
                        </td>
                    </tr>

                    <tr>
                        <td class="grayTD" style="vertical-align: top;" width="70">
                            <div style="text-align: right;">MODa</div>
                        </td>
                        <td class="grayTD">
                            <textarea name="modamsg" rows="8" style="width:100%" th:text="${modaMessage}"></textarea>
                        </td>
                    </tr>

                    <tr>
                        <td class="grayTD" style="vertical-align: top;" width="70">
                            <div style="text-align: right;">DBond</div>
                        </td>
                        <td class="grayTD">
                            <textarea name="dbondmsg" rows="8" style="width:100%" th:text="${dbondMessage}"></textarea>
                        </td>
                    </tr>

                    <tr>
                        <td class="grayTD" style="vertical-align: top;" width="70">
                            <div style="text-align: right;">NextSearch</div>
                        </td>
                        <td class="grayTD">
                            <textarea name="nextmsg" rows="8" style="width:100%" th:text="${nextsearchMessage}"></textarea>
                        </td>
                    </tr>

                    <tr>
                        <td class="grayTD" style="vertical-align: top;" width="70">
                            <div style="text-align: right;">Signature</div>
                        </td>
                        <td class="grayTD">
                            <textarea name="signature" rows="8" style="width:100%" th:text="${signatureMessage}"></textarea>
                        </td>
                    </tr>
                </form>
            </table>

        </div>
    </div>
</main>
<footer th:replace="~{partials/fragment :: footer}"></footer>
</body>
</html>
