<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{partials/fragment :: head}">
</head>
<body>
<header th:replace="~{partials/fragment :: header0}"></header>
<main>
    <div class="main-contents">
        <div class="main-title">
            <div class="main-title">
                <div class="title">
                    <h3 class="drakBR">You are not authorized to view this page.</h3>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{partials/fragment :: footer}"></footer>
</body>
</html>