<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{partials/fragment :: head}">
</head>
<body>
<header th:replace="~{partials/fragment :: header0}"></header>
<main>
    <style>
        /* Hover effect for specific table */
        .config-table-hover tr:hover {
            background-color: #fafad2;
        }
    </style>

    <div class="main-contents">
        <div th:replace="~{'admin/menu' :: menu(currentSection='Search Log')}"></div>

        <table class="config-table-hover" border="0" cellpadding="0" cellspacing="0" style="border-bottom: 1px solid #d9dddc; border-top: 2px solid #d9dddc; table-layout: fixed; width: 100%;">
            <tr>
                <td class="grayTH" style="width: 10%;"><div align="center">Index</div></td>
                <td class="grayTH" style="width: 15%;"><div align="center">User</div></td>
                <td class="grayTH" style="width: 15%;"><div align="center">Date</div></td>
                <td class="grayTH" style="width: 25%;"><div align="center">Title</div></td>
                <td class="grayTH" style="width: 10%;"><div align="center">MS/MS data</div></td>
                <td class="grayTH" style="width: 15%;"><div align="center">Database</div></td>
                <td class="grayTH" style="width: 10%;"><div align="center">Engine</div></td>
            </tr>
            <tr th:each="log, iterStat : ${searchLogs}">
                <td class="grayTD" style="width: 10%;">
                    <a th:href="@{${log.engine == 'dbond' ? '/dbond/result?file=' + log.result : '/livesearch/ACTG/Result?index=' + log.result}}"
                       target="_blank"
                       th:text="${iterStat.index + 1}">
                    </a>
                </td>
                <td class="grayTD"><div align="center" th:text="${log.userName}"></div></td>
                <td class="grayTD"><div align="center" th:text="${#dates.format(log.date, 'yyyy.MM.dd')}"></div></td>
                <td class="grayTD"><div align="center" th:text="${log.title != null ? log.title : '&nbsp;'}"></div></td>
                <td class="grayTD"><div align="center" th:text="${log.msFile}"></div></td>
                <td class="grayTD"><div align="center" th:text="${log.dbFile}"></div></td>
                <td class="grayTD"><div align="center" th:text="${log.engine}"></div></td>
            </tr>
        </table>

        <div class="verticalSpace"></div>

        <div align="center">
            <span th:if="${curPage > 0}">
                <a th:href="@{searchlog(p=${curPage - 1})}">&lt;</a>&nbsp;
            </span>
            <span th:each="i : ${#numbers.sequence(0, totalPage - 1)}">
                <span th:if="${i != curPage}">
                    <a th:href="@{searchlog(p=${i})}" th:text="${i + 1}"></a>&nbsp;
                </span>
                <span th:if="${i == curPage}" th:text="${i + 1}"></span>&nbsp;
            </span>
            <span th:if="${curPage < totalPage - 1}">
                <a th:href="@{searchlog(p=${curPage + 1})}">&gt;</a>&nbsp;
            </span>
        </div>

    </div>
</main>
<footer th:replace="~{partials/fragment :: footer}"></footer>
</body>
</html>
