<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="PRIX - PRoteome InformatiX" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="images/ci.gif" />
    <meta
      property="og:description"
      content="PRoteome InformatiX by Bioinformatics & Intelligent Systems Lab"
    />
    <title>PRIX - PRoteome InformatiX</title>
    <link href="css/home.css" rel="stylesheet" />
    <link rel="icon" href="images/ci.gif" type="image/gif" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  </head>

  <body>
    <header>
      <div class="header">
        <div class="gnb">
          <div id="logo">
            <a href="index.html">
              <img src="images/ci.gif" width="196" height="88" />
            </a>
          </div>

          <div class="header-right">
            <div class="header-top">
              <div>
                <div class="top-menu">
                  <div class="top-dot" style="width: 70px"></div>
                  <div class="top-dot" style="width: 60px"></div>
                  <div class="top-dot" style="width: 82px"></div>
                  <div class="top-dot" style="width: 60px"></div>
                  <div class="top-dot" style="width: 60px"></div>
                </div>
                <div class="top-menu">
                  <div class="top-dot2">
                    <img
                      src="images/top_icon_01.gif"
                      style="width: 2px; height: 9px; padding-right: 3px"
                    />
                    <a class="top_menu" href="login.html">LOG IN</a>
                  </div>
                  <div class="top-dot2">
                    <img
                      src="images/top_icon_01.gif"
                      style="width: 2px; height: 9px; padding-right: 3px"
                    />
                    <a class="top_menu" href="help.html">HELP</a>
                  </div>
                  <div class="top-dot2">
                    <img
                      src="images/top_icon_01.gif"
                      style="width: 2px; height: 9px; padding-right: 3px"
                    />
                    <a class="top_menu" href="contact.html">CONTACT</a>
                  </div>
                  <div class="top-dot2">
                    <img
                      src="images/top_icon_01.gif"
                      style="width: 2px; height: 9px; padding-right: 3px"
                    />
                    <a class="top_menu" href="admin_login.html">ADMIN</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="header-middle">
              <div class="gnb-list">
                <a href="index.html">
                  <img
                    class="gnb-items"
                    src="images/menu02_01.gif"
                    alt="Introduction"
                  />
                </a>
                <a href="livesearch.html">
                  <img
                    class="gnb-items"
                    src="images/menu02_02.gif"
                    alt="LiveSearch"
                    style="left: 142px"
                  />
                </a>
                <a href="download.html">
                  <img
                    class="gnb-items"
                    src="images/menu02_03.gif"
                    alt="Download"
                    style="left: 277px"
                  />
                </a>
                <a href="publications.html">
                  <img
                    class="gnb-items"
                    src="images/menu02_04.gif"
                    alt="Publications"
                    style="left: 410px"
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="header-bottom">
        <img src="images/menu_bg3.gif" alt="" width="100%" height="25px" />
      </div>
    </header>

    <main>
      <div class="main-group">
        <aside>
          <div class="main-slide">
            <img src="images/subtit02.gif" alt="" />
          </div>

          <div class="content-indexes">
            <br />
            <br />
            <span>
              <img src="images/icon_5.gif" width="6px" height="10px" />
              MODPlus
            </span>
            <br />
            <br />
            <span>
              <img src="images/icon_5.gif" width="6px" height="10px" />
              DBond
            </span>
            <br />
            <br />
            <span>
              <img src="images/icon_5.gif" width="6px" height="10px" />
              ACTG
            </span>
            <br />
            <br />
            <span>
              <img src="images/icon_5.gif" width="6px" height="10px" />
              Pattern Match
            </span>
          </div>
        </aside>
        <article>
          <div class="main-article">
            <div class="main-title">
              <div class="title">
                <h3 class="drakBR">MS/MS ANALYSIS</h3>
                <br />
              </div>
            </div>

            <div class="main-contents">
              <img src="images/p_st1.GIF" width="4px" height="9px" />
              <a href="index.html" class="thmenu">
                <span class="blue-up">MODPlus</span>
              </a>
              <span class="drakBR">
                - advanced version of MOD
                <sup>i</sup>
              </span>

              <br />
              <br />
            </div>
          </div>
        </article>
      </div>
    </main>

    <footer>
      <div class="copy">
        Copyright &copy; 2012
        <a href="http://bislab.hanyang.ac.kr/" class="under" target="_blank">
          Bioinformatics &amp; Intelligent Systems Lab
        </a>
        ,
        <a
          href="http://www.hanyang.ac.kr/english/"
          class="under"
          target="_blank"
        >
          Hanyang University
        </a>
        , Korea. All rights reserved.
        <br />
        <a href="html/policy.html" class="under" target="_blank">
          Personal Information Policy
        </a>
      </div>
    </footer>
  </body>
</html>
